apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: default-pool
  namespace: metallb-system
spec:
  # Use free IPs on the SAME /24 as your node, outside DHCP
  addresses:
    # - 192.168.171.240-192.168.171.250
    # - 192.168.1.200-192.168.1.250
    - 192.168.1.2-192.168.1.3
---
apiVersion: metallb.io/v1beta1
kind: L2Advertisement
metadata:
  name: default
  namespace: metallb-system
spec:
  ipAddressPools:
    - default-pool

