apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: default-pool
  namespace: metallb-system
spec:
  addresses:
    - 192.168.171.200-192.168.171.250
---
apiVersion: metallb.io/v1beta2
kind: BGPPeer
metadata:
  name: vm-peer
  namespace: metallb-system
spec:
  myASN: 64500
  peerASN: 64500
  peerAddress: 192.168.171.1  # Usually the gateway
---
apiVersion: metallb.io/v1beta1
kind: BGPAdvertisement
metadata:
  name: default
  namespace: metallb-system
spec:
  ipAddressPools:
    - default-pool
